.spacer {
    border-top: 2px solid white;
    margin-bottom: 0.4rem;
}

.hero-body {
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 16.3rem!important;
    padding-bottom: 2.2rem!important;
}

.top-five-coin {
    &:hover {
        cursor: pointer;
    }
}

.show-more {
    display: none;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}