#myTopFive {
    padding-top: 8rem;
}

.btc-color {
    border-color: $btcColor;
}

.eth-color {
    border-color: $ethColor;
}

.dash-color {
    border-color: $dashColor;
}

.ltc-color {
    border-color: $ltcColor;
}

.xrp-color {
    border-color: $xrpColor;
}

.neo-color {
    border-color: $neoColor;
}

.omg-color {
    border-color: $omgColor;
}

.doge-color {
    border-color: $dogeColor;
}

.bcn-color {
    border-color: $bcnColor;
}

.steem-color {
    border-color: $steemColor;
}

.bch-color {
    border-color: $bchColor;
}