.positiveValue {
    color: #2ecc71;
}

.negativeValue {
    color: #e74c3c;
}

.loaderWrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 5;
    display: flex;
    align-items: center;
}

table td,
table th {
    vertical-align: middle!important;
}

.loader {
    position: absolute;
    width: 2.4em;
    height: 2.4em;
    margin: auto;
    left: 0;
    right: 0;
}

.holding-input {
    max-width: 100px;
}

.has-no-margin {
    margin: 0!important;
}

.has-no-padding {
    padding: 0!important;
}

table th:hover {
    cursor: pointer;
}

.login,
#balance {
    background-image: url('../images/space.jpg')!important;
    background-size: cover;
    background-position: top center;
}

.login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.coinLogoImage {
    margin-top: 6px;
}

.loginButtons{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.spacer {
    border-top: 2px solid white;
    margin-bottom: 0.4rem;
}

.hero-body {
    margin-top: 56px;
    background-color: rgba(0, 0, 0, 0.62);
    padding-top: 6.4rem!important;
    padding-bottom: 4.4rem!important;
}

.top-five-coin {
    &:hover {
        cursor: pointer;
    }
}

.coin-holding {
    margin-bottom: 0.4rem!important;
}

.sorting-asc:after {
    content: '▲';
    position: absolute;
    margin-left: 6px;
    top: 12px;
    font-size: 10px;
}

.sorting-desc:after {
    content: '▼';
    position: absolute;
    margin-left: 6px;
    top: 14px;
    font-size: 10px;
}

.is-grouped {
    align-items: center;
}

.navbar {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.btc-color {
    border-color: $btcColor;
}

.eth-color {
    border-color: $ethColor;
}

.dash-color {
    border-color: $dashColor;
}

.ltc-color {
    border-color: $ltcColor
}