body::-webkit-scrollbar {
    width: 8px;
}
 
body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.positiveValue {
    color: #2ecc71;
}

.negativeValue {
    color: #e74c3c;
}

.main {
    display: none;
}

.loaderWrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 5;
    display: flex;
    align-items: center;
}

.noScript {
    width: 100%;
    text-align: center;
}

.title {
    font-weight: 200;
}

.noScriptWrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 6;
    display: flex;
    align-items: center;
    text-align: center;
}

.is-first-section {
    margin-top: 56px;
}

table td,
table th {
    vertical-align: middle!important;
}

.loader {
    position: absolute;
    width: 2.4em;
    height: 2.4em;
    margin: auto;
    left: 0;
    right: 0;
}

.quantity-cell {
    max-width: 130px;
}

.is-loading::after {
    left: 1.4em!important;
    top: 1.2em!important;
    right: initial!important;
}

.has-no-margin {
    margin: 0!important;
}

.has-no-padding {
    padding: 0!important;
}

table th:hover {
    cursor: pointer;
}

#balance {
    background-image: url('../images/space.jpg')!important;
    background-size: cover;
    background-position: top center;
}

.login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.coinLogo {
    height: 53px!important;
}

.coinLogoImage {
    margin-top: 6px;
}

.loginButtons {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    max-width: 220px;
    .button {
        width: 100%;
        border: 0;
    }
    .button-google {
        background-color: $googleColor;
    }
    .button-facebook {
        background-color: $facebookColor;
    }
    .button-twitter {
        background-color: $twitterColor;
    }
    .button-github {
        background-color: $githubColor;
    }
}

.coin-holding {
    margin-bottom: 0.4rem!important;
    white-space: nowrap;
}

.navbar .fa {
    color: #aaa;
}

.navbar-item:hover .fa {
    color: #3273dc;
}

.navbar .is-active {
    color: #3273dc!important;
    .fa {
        color: #3273dc;
    }
}

.total-value {
    opacity: 0.8;
}

.sorting-asc:after {
    content: '▲';
    position: absolute;
    margin-left: 6px;
    top: 12px;
    font-size: 10px;
}

.sorting-desc:after {
    content: '▼';
    position: absolute;
    margin-left: 6px;
    top: 14px;
    font-size: 10px;
}

.is-grouped {
    align-items: center;
}

.navbar {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.btc-color {
    border-color: $btcColor;
}

.eth-color {
    border-color: $ethColor;
}

.dash-color {
    border-color: $dashColor;
}

.ltc-color {
    border-color: $ltcColor
}