// Coins colors
$btcColor: #F0933A;
$ethColor: #8B92AF;
$dashColor: #3775B7;
$ltcColor: #BEBEBE;
$xrpColor: #3C8EC3;
$neoColor: #74BC38;
$omgColor: #2657E7;
$dogeColor: #BEA649;
$bcnColor: #DB5384;
$steemColor: #60A1EC;
$saltColor: #56B8BC;
$gbyteColor: #212121;
$qtumColor: #5CA7D5;
$adaCoin: #ffffff;
$xlmColor: #D5F1F8;
$zecColor: #F5C053;
$btsColor: #5EB8E6;
$stratColor: #4DA1DF;
$nxtColor: #3D8DB7;
$btmColor: #767676;
$xzcColor: #58B45E;
$miotaColor: #ffffff;
$bchColor: #E38F39;
$batColor: #EA5C29;
$icnColor: #4E6F8D;
$etcColor: #6F8F75;
$pptColor: #383B5D;
$bccColor: #FE8D00;
$trxColor: #ffffff;
$wavesColor: #3F95D6;
$hsrColor: #5C3F93;
$monaColor: #F4E7C9;
$veriColor: #FE9300;
$usdtColor: #4F9E7D;
$btgColor: #F3A300;
$ardrColor: #0062A6;
$arkColor: #DE0000;
$dcrColor: #00DC9F;
$sntColor: #4953B3;
$payColor: #363233;
$vtcColor: #305A33;
$bnbColor: #FCB700;
$scColor: #00CBA0;
$xemColor: #F7A800;
$qashColor: #0044EF;
$aeColor: #DE3F6B;
$kncColor: #77CFA3;
$pppColor: #348F8D;
$navColor: #C42FB2;
$bntColor: #000D2B;
$funColor: #F1385B;
$subColor: #EE4037;

// Social colors:
$googleColor: #d34836;
$facebookColor: #3B5998;
$twitterColor: #00aced;
$githubColor: #333; 