// Coins
$btcColor: #F0933A;
$ethColor: #8B92AF;
$dashColor: #3775B7;
$ltcColor: #BEBEBE;
$xrpColor: #3C8EC3;
$neoColor: #74BC38;
$omgColor: #2657E7;
$dogeColor: #BEA649;
$bcnColor: #DB5384;
$steemColor: #60A1EC;
$saltColor: #56B8BC;
$gbyteColor: #212121;
$qtumColor: #5CA7D5;
$adaCoin: #000000;
$xlmColor: #D5F1F8;
$zecColor: #F5C053;
$btsColor: #5EB8E6;
$stratColor: #4DA1DF;
$nxtColor: #3D8DB7;
$btmColor: #767676;
$xzcColor: #58B45E;
$miotaColor: #000000;
$bchColor: #E38F39;
$batColor: #EA5C29;
$icnColor: #4E6F8D;
$etcColor: #6F8F75;
$pptColor: #383B5D;
$bccColor: #FE8D00;
$trxColor: #000000;
$wavesColor: #3F95D6;
$hsrColor: #5C3F93;
$monaColor: #F4E7C9;
$veriColor: #FE9300;
$usdtColor: #4F9E7D;
$btgColor: #F3A300;
$ardrColor: #0062A6;
$arkColor: #DE0000;