<section id="balance" class="hero is-medium is-bold">
  <div class="hero-body">
    <!-- pie chart -->
    <div id="chartContainer"></div>
    <div id="darkerChartContainer"></div>
    <div class="container">
      <h1 class="title balance has-text-centered is-size-1 has-text-white">
        0.00$
      </h1>
      <h2 class="subtitle has-text-centered has-text-white total-value">
        Total Value
      </h2>
      <div id="myTopFive" class="columns myTopFive">
      </div>
      <div id="restOfTheCoins" class="columns restOfTheCoins">
      </div>
      <div class="has-text-centered">
        <a class="show-more has-text-white" onclick="showMore()">Show more</a>
      </div>
    </div>
  </div>
</section>