<table id="coinTable" class="coins table tablesorter is-striped is-fullwidth">
  <thead>
    <tr>
      <th>
        <!-- Logo -->
      </th>
      <th data-sort="string">Symbol</th>
      <th data-sort="string">Name</th>
      <th data-sort="float" class="has-text-right">Last hour</th>
      <th data-sort="float" class="has-text-right">Last 24h</th>
      <th data-sort="float" class="has-text-right">Last week</th>
      <th data-sort="float" class="has-text-right">Value ($US)</th>
      <th data-sort="float" class="has-text-right">Holdings</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>